@import url("https://fonts.googleapis.com/css2?family=Bellota+Text&family=Manrope:wght@800&family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Bellota Text", sans-serif;
  height: 100%;
  color: #fafafa;
}

body:not(.home-body) {
  background: #0b0e14;
}



.cardImgs {
    height: 20vh;
    width: 100%;
    object-fit: cover;
    border-radius: 0.2em;
}

#particles {
  height: 100vh;
 
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 150000;
}

.top-background {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-position: center;
  background-attachment: fixed;
  right: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100vh;
  z-index: -100;
  margin: 0;
  background: hsl(10deg 98% 63%);
  background: linear-gradient(150deg, hsl(10deg 98% 63%) 0%, hsl(280deg 100% 20%) 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#form {
  color: #fafafa;
}

.subwelcome {
  font-family: "Syncopate", sans-serif;
  text-shadow: 1px 1px 1px #92dce5;
  color: firebrick;
  font-size: 1.25em;
}

.titletext {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: max-content;
  max-width: 90%;
}

.titletext h1 {
  font-family: "Manrope", sans-serif;
  font-size: 4em;
  font-weight: 800;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.4em;
}

.titletext a {
  text-decoration: none;
  border: 1px solid white;
  padding: 0.5em 1em;
  transition: 0.2s;
  position: relative;
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  text-overflow: ellipsis;
  width: max-content;
  max-width: 70vw;
  display: block;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
}

.titletext a::before {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: " ";
  background: rgba(255, 255, 255, 0.781);
  position: absolute;
  transform: scaleY(0);
  transform-origin: center bottom;
  transition: 0.2s;
  z-index: -1;
}

.titletext a:hover::before {
  transition: 0.2s;
  transform: scaleY(1);
}

.titletext a:hover {
  transform: translateY(-5px);
  transition: 0.1s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.titletext a:hover,
a:hover #form {
  color: black;
  transition: 0.15s;
}

.highlights-container{
  display: flex;
  justify-content: center;

}

.highlights-content
{
  width: 90%;
}

.content {
  font-family: "Bellota Text", sans-serif;
  display: inline-block;
  /* margin-right: 20%;
  margin-left: 20%; */
  overflow: hidden;
  vertical-align: top;
}

.board{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
    column-gap: 1rem;
}

.join{
  margin-top: 3.5em;
  margin-right: 5% !important;
  margin-left: 5% !important;
}

.content.join {
  margin-top: 12vh;
  margin-right: 5% !important;
  margin-left: 5% !important;
}

.content.contact {
  margin-top: 4.2em;
}

.content p {
  font-size: 1.2em;
  line-height: 1.5em;
}

p a:not(.fa):after {
  content: "\f0a9";
  font-family: FontAwesome;
  font-size: 0;
  transition: 0.2s;
  padding-left: 0.3em;
  text-decoration: none;
  display: inline-block;
  line-height: 1.5em;
  font-style: normal;
  transform: translateY(-1px);
}

p a:hover::after {
  font-size: 0.7em;
  transition: 0.2s;
}

.navbar {
  font-family: "Syncopate", sans-serif;
  overflow-y: hidden;
  overflow-x: auto;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.nav-menu-icon
{
  float:right;
  height: 80%;
}

.nav-icon{
  float: left;
  height: 100%;
  object-fit: contain;
  
}

.navbar-row
{
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
}

.nav-items-menu
{
  width: 95%;
  align-self: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.navbar a {
  height: 100%;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Bellota Text", sans-serif;
  transition: 0.12s;
}

.nav-icon-link{
  width: 15%;
  height: 100%;
}

.nav-items-box
{
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  width: 70%;
}
.nav-items-list
{  
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  
}

.nav-item{
  /* height: 1.9rem; */
  padding: 1rem 0;
  list-style: none;
}

a.nav-link{
  height: 1.9rem;
  /* list-style: none; */
}

.nav-menu-button{
  padding-right: 1rem;
  background: none;
  border: none;
  outline: none;
}

.nav-menu-button:focus {
  outline: none;
}


/* .navbar a:hover {
  background: #ddd;
  color: #020202;
} */

.welcome {
  font-family: "Space Mono", sans-serif;
  text-shadow: 0px 2px 3px rgba(1, 166, 37, 0.4);
  color: #02a726;
  font-size: 2.3em;
  word-spacing: -0.3em;
}

.welcome::after {
  content: "_";
  animation: blink 1s infinite;
}

.welcome:nth-of-type(2)::after {
  animation-delay: 0.2s;
}

.welcome:nth-of-type(3)::after {
  animation-delay: 0.7s;
}

.welcome:nth-of-type(4)::after {
  animation-delay: 0.3s;
}

a {
  color: #fafafa;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 10px;
  text-align: left;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  transition: 0.2s;
}

.fa:hover {
  opacity: 0.7;
  transform: scale(0.9);
}

.fa:first-of-type {
  margin-left: 0;
  padding-left: 0.5em;
}

.email,
.phone {
  padding: 0.5rem;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

iframe {
  margin-top: 0.75em;
  height: calc(60vw / 1.8) !important;
  margin-bottom: 0.5em;
}

@media (max-width: 480px) {
  .content {
    margin-right: 2.5em;
    margin-left: 2.5em;
  }

  .content p {
    font-size: 1em;
  }

  .cardImgs {
    width: 100%;
    height: auto;
  }

  .top-background {
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    right: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .titletext {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .titletext h1 {
    font-size: 3em;
  }

  .welcome {
    font-family: "Space Mono", sans-serif;
    text-shadow: 0px 2px 3px rgb(14, 163, 9);
    font-size: 1.5em;
  }

  .fa {
    padding: 10px;
  }

  iframe {
    margin-top: 0.75em;
    height: calc(60vw / 1.3) !important;
    margin-bottom: 0.5em;
  }
}

.card-grid {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  margin:1em 0;
  background: #11151f;
  border-radius: 0.2em;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 2em;
}
/* .card img {
    height: 20vh;
    width: 100%;
    object-fit: cover;
    border-radius: 0.2em;
  } */
  
.board-card-img
{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 0.5em;
    padding-bottom: 1rem;
}

.card-img-top
{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.card-body
{
  display: flex;
  justify-content: center;
  width: 90%;
}

.card-title {
  font-size: 1.5em;
  font-family: "Space Mono";
  font-weight: 400;
  line-height: 1.2em;
  margin: 0.5em;
}

.card p {
  font-size: 0.9em;
  text-align: left;
  color: #6476a1;
}

.content-introduction {
  margin: 1.5em;
}

@media (max-width: 1150px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 675px) {
  .card-grid {
    grid-template-columns: auto;
  }
}

button {
  background: #0b0e14;
  color: #fafafa;
}
.light-mode #main1 {
  background-color: #fafafa;
  color: #0b0e14;
}

.light-mode .card {
  background-color: #fafafa;
  color: #0b0e14;
}

.light-mode button {
  background-color: #fafafa;
  color: #0b0e14;
}

.light-mode #main {
  background-color: #fafafa;
  color: #0b0e14;
}

.light-mode a {
  color: #0b0e14;
}

.light-mode h3 {
  background-color: #fafafa;
  color: #0b0e14;
}

.light-mode h2 {
  background-color: #fafafa;
  color: #0b0e14;
}

.light-mode .fa {
  background-color: #fafafa;
  color: #0b0e14;
}

.light-mode .top-background {
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  right: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: hsl(179deg 100% 50%);
  background: linear-gradient(10deg, hsl(179deg 100% 50%) 0%, hsl(179deg 100% 50%) 100%);
}

.footer-row
{
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
  padding-top: 3rem;
}

/* =============================================== */

nav.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

nav.navbar .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

nav.navbar .navbar-brand img {
  height: 55px;
}

nav .navbar-nav .nav-link {
  margin-inline: 0.5rem;
}

nav .nav-items-box .nav-items-list .nav-item:hover {
  /* background: #ddd;
  color: #020202; */
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #fff;
  text-decoration-thickness: 2px;
  transition: 0.4s;

}

nav .nav-items-box .nav-items-list .active {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #fff;
  text-decoration-thickness: 2px;
  transition: 0.4s;
}



.section-container {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.section-container .welcome {
  margin-bottom: 1rem;
}


.club-goals svg {
  width: 25%;
  fill: #fff;
}

.club-goals .card {
  transition: 0.2s;
}

.club-goals .card:hover {
  transform: scale(1.05);
}

.what-is-a-hacker p {
  text-align: justify;
}

.my-bg {
  margin-top: 5rem;
  background-color: #0b0e14;
}

.home-body {
  background: url("assets/imgs/hacker.jpg");
  background-attachment: fixed;
}

.footer-container {
  background: #0b0e14 url("assets/imgs/pattern.svg");
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer ul a {
  text-decoration: none;
}

footer ul a:hover {
  color: white;
}

footer div a svg {
  fill: white;
  transition: 0.1s;
}

footer div a:hover svg {
  fill: white;
  transform: scale(1.1);
}

.us-title
{
  font-size: 5rem;
  margin-bottom: 2rem;
}

.us-caption{
  font-size: 1.5rem;
  text-align: justify;
}
/* =============================================== */


@media (max-width: 768px) {

  .us-title
  {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .us-caption{
    font-size: 1rem;
  }

  .nav-menu-button{
    display: block;
    width: 10%;
  }
  .navbar a {
    font-size: 1.15rem;
  }
  .nav-icon-linkR{
    width: 0%;
  }
  
  .nav-icon-link{
    width: 10%;
  }
  
  .nav-items-box
  {
    display:none;
    width: 80%;
  }

  .nav-icon{
    float: left;
    height: 100%;
    object-fit: contain;
    
  }
}

@media (min-width: 769px) {

.board{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 1rem;
}

  .nav-items-list
  {  
    flex-direction: row;
  }
  .nav-items-menu
  {
     max-height: 0;
  }

  .nav-menu-button{
    display: none;
  }
  .navbar a {
    font-size: 1.15rem;
  }

  .nav-icon-link{
    width: 10%;
  }

  .nav-icon-linkR{
    width: 5%;
  }
  
  .nav-items-box
  {
    display: block;
    width: 70%;
  }

  .nav-icon{
    float: left;
    height: 95%;
    object-fit: contain;
    
  }

  .nav-item{
    /* height: 1.9rem; */
    padding: 0 0;
  }
}

@media (min-width: 1025px) {
    .board{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;
        column-gap: 1rem;
    }
  .nav-items-menu
  {
    max-height: 0;  
  }

  .nav-menu-button{
    display: none;
  }

  .navbar a {
    font-size: 1.5rem;
  }

  .nav-icon-linkR{
    width: 13%;
  }

  .nav-icon-link{
    width: 17%;
  }
  
  .nav-items-box
  {
    width: 70%;
  }
}