* {
  transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff") format("woff"), url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff") format("woff"), url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff") format("woff"), url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.hero {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  height: 85vh;
  background-color: #3a863d;
  padding-left: 5rem;
  padding-right: 5rem;
  font-family: "Phantom Sans";
}

.hero p:nth-child(2) {
  color: rgba(255, 255, 255, 0.75);
}

.board .card {
  height: 100%;
  position: relative;
  transition: 0.2s;
  padding: 0.5rem;
}

.board .card .links {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(17, 21, 31, 1) 0%, rgba(17, 21, 31, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
  transition: 0.2s;
  flex-direction: column-reverse;
  align-items: center;
  display: none;
  opacity: 0;
}

.board .card:hover {
  transform: scale(1.025);
}

.board .card:hover .links {
  display: flex;
  opacity: 1;
}

.board .card .links div {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.board .card .links a svg {
  width: 30px;
  fill: white;
}

.board .card .card-img-overlay {
  top: auto;
  text-align: center;
}

.board .card p {
  color: white;
  text-align: center;
  line-height: 1;
  padding-bottom: 0;
}

.board .card .card-title {
  font-size: 1.75rem;
}

.years {
  margin-top: 45px;
  
}

.year {  
  cursor: pointer;
  background-color:transparent;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 15px;
  font-weight: bold;
  font-size: 20px;
}

.year:hover {
  border: 2px solid #3a863d;
  transition: .3s;
}

.selected {
  background-color: #3a863d;
  border: 2px solid #fff;
}

.hidden {
  display: none;
}

